<footer>
  <div class="f-info">
    <div class="footer-section f-info-socials">
      <i class="fa-brands fa-square-facebook" style="color: #1877F2;"></i>
      <i class="fa-brands fa-square-instagram" style="background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
      <i class="fa-brands fa-linkedin" style="color: #0077B5;"></i>
    </div>
    <div class="footer-section f-info-brand">
      WanderLust Private Limited
    </div>
    <div class="footer-section f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
