  <style>
    .btn-search {
      background-color: #fe424d;
      color: #fff;
      border-radius: 25px;
      padding: 0 1rem 0 1rem;
    }

    .btn-search:hover {
      background-color: #fe424d;
      color: #fff;
    }

    .search-inp {
      border-radius: 25px;
      padding: 0.5rem 3rem 0.5rem 3rem;
      font-size: 1rem;
    }

    .btn-search i {
      display: inline;
      margin-right: 0.5rem;
    }

    @media (max-width: 991.98px) {
    .navbar-collapse {
      padding: 1rem;
      background-color: #fafafa;
    }

    .navbar-nav {
      flex-direction: column;
      align-items: start;
      gap: 0.75rem;
    }

    .navbar-nav .nav-link,
    .navbar-nav .btn {
      width: 60%;
      text-align: left;
    }

    .navbar-nav form {
      width: 100%;
    }

    .navbar-nav .search-inp {
      width: 100%;
      padding: 0%;
      margin-bottom: 0.5rem;
    }

    .navbar-nav .btn-search {
      height: 80% !important;
      width: 40%;
    }
  }
  </style>

  <nav class="navbar navbar-expand-lg border-bottom sticky-top">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass ms-4"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
        <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" aria-label="Search"/>
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" href="/listings/new">Airbnb your home</a>
        <% if (currUser) { %>
        <a class="nav-item nav-link me-3" href="/mylistings">My Listings</a>
        <% } %>
        <% if (!currUser) { %>
            <form class="d-inline" action="/signup" method="get">
              <button class="btn me-3" style="background-color: #fe424d; color: #fff;">SignUp</button>
            </form>

            <form class="d-inline" action="/login" method="get">
              <button class="btn me-3" style="background-color: #fe424d; color: #fff;">Login</button>
            </form>
        <% } %>
        <% if (currUser) { %>
          <form class="d-inline" action="/logout" method="get">
              <button class="btn me-3" style="background-color: #fe424d; color: #fff;">Logout</button>
            </form>
        <% } %>
      </div>
    </div>
  </nav>

