<nav class="navbar bg-light navbar-expand-lg navbar-light border-bottom sticky-top">
  <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/listings">All Listings</a>
      <a class="nav-item nav-link" href="/listings/new">New Listing</a>
      <% if (currUser) { %>
       <a class="nav-item nav-link" href="/mylistings">My Listings</a>
      <% } %>
    </div>

    <div class="navbar-nav ms-auto">
      <% if (!currUser) { %>
          <form class="container-fluid justify-content-start" action="/signup" method="get">
            <button class="btn btn-danger">SignUp</button>
          </form>

          <form class="container-fluid justify-content-start" action="/login" method="get">
            <button class="btn btn-danger">Login</button>
          </form>
      <% } %>
      <% if (currUser) { %>
        <form class="container-fluid justify-content-start" action="/logout" method="get">
            <button class="btn btn-danger">Logout</button>
          </form>
      <% } %>
    </div>
  </div>
</nav>