  <nav class="navbar navbar-expand-lg border-bottom">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass ms-4"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
              <a class="nav-item nav-link" href="/listings/new">Airbnb your home</a>
        <% if (currUser) { %>
        <a class="nav-item nav-link me-3" href="/mylistings">My Listings</a>
        <% } %>
        <% if (!currUser) { %>
            <form class="d-inline" action="/signup" method="get">
              <button class="btn btn-danger me-3">SignUp</button>
            </form>

            <form class="d-inline" action="/login" method="get">
              <button class="btn btn-danger me-3">Login</button>
            </form>
        <% } %>
        <% if (currUser) { %>
          <form class="d-inline" action="/logout" method="get">
              <button class="btn btn-danger me-3">Logout</button>
            </form>
        <% } %>
      </div>
    </div>
  </nav>

