body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-container{
    flex: 1;
    margin: 2rem 3rem 0rem 3rem;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: #ebebeb;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color:#222222 !important;
    font-weight: 500 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials {
    font-size: 1.3rem;
}

.f-info-socials i {
    margin-right: 2rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 1rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    font-size: 12px;
    padding: 0% !important;
    margin: 0% !important;
}

.card-price {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 600;
}

.card-desc {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.listing-links {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

/* Add Button */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Image */
.show-img {
    height: 30vh;
}

/* Show Buttons */
.btns {
    display: flex; 
}

.signup-form-glass,
.login-form-glass {
  max-width: 600px;
  padding: 5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
