<% layout("/layouts/boilerplate") %>

<body>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="w-100 signup-form-glass">
      <h1 class="text-center mb-4">SignUp on WanderLust</h1>
      <form action="/signup" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" placeholder="Enter Username" class="form-control" required>
          <div class="invalid-feedback">Please Enter Username</div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" placeholder="Enter Email" class="form-control" required>
          <div class="invalid-feedback">Please Enter Email</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" placeholder="Enter Password" class="form-control" required>
          <div class="invalid-feedback">Please Enter Password</div>
        </div>

        <button class="btn btn-success w-100">Submit</button>
      </form>
    </div>
  </div>
</body>
